img {
  height: 800px;
}

nav {
  border-style: double;
  border-color: rgb(5, 7, 49);
}
.navbar-brand:hover {
  text-decoration: underline;
}

.nav-link:hover {
  text-decoration: underline;
}
form {
  margin-left: 850px;
}
